.place__title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 20px;
  letter-spacing: 0.012em;
}

@media screen and (max-width: 1439px) {
  .place__title {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1279px) {
  .place__title {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    margin-top: 20px;
  }
}