.place__image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@media screen and (max-width: 1439px) {
  .place__image {
    min-height: 530px;  
  }
}

@media screen and (max-width: 1279px) {
  .place__image {
    height: 425px;  
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    height: 320px; 
  }
} 