.popup__submit-button {
  background-color: rgba(0, 0, 0, 0.842);
  min-height: 50px;
  width: 400px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 22px auto;
  border: none;
  padding: 4px;
  border-radius: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.popup__submit-button:hover {
  background-color: rgb(0, 0, 0, .8);
}

@media screen and (max-width: 900px) {
  .popup__submit-button {
    min-height: 40px;
    width: 230px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
  }
}
