.place__image-wrapper {
  width: 50%;
  height: 600px;
  overflow: hidden;
}

@media screen and (max-width: 1439px) {
  .place__image-wrapper {
    height: 530px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image-wrapper {
    height: 425px;
  }
}

@media screen and (max-width: 822px) {
  .place__image-wrapper {
    height: 455px;
  }
}

@media screen and (max-width: 767px) {
  .place__image-wrapper {
    width: 100%;
  }
}
