.header__link {
    font-weight: 700;
  }

.header__link:hover {
  opacity: 0.5;
  transition: opacity .2s ease-in-out;
}

.header__link:focus {
  opacity: 0.5;
  transition: opacity .2s ease-in-out;
}
