.place__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 166px;
  margin-left: 80px;
  width: calc(50% - 246px);
}

@media screen and (max-width: 1439px) {
  .place__text-container {
    margin-right: 195px;
    margin-left: 65px;
    width: calc(50% - 260px);
  }
}

@media screen and (max-width: 1279px) {
  .place__text-container {
    margin-right: 160px;
    margin-left: 50px;
    width: calc(50% - 210px);
  }
}

@media screen and (max-width: 1023px) {
  .place__text-container {
    margin-right: 120px;
    margin-left: 40px;
    width: calc(50% - 160px);
  }
}

@media screen and (max-width: 767px) {
  .place__text-container {
    width: calc(100% - 80px);
    margin-right: 40px;
  }
}
