.place__paragraph {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
  max-width: 410px;
  letter-spacing: 0.05em;
}

.place__paragraph:not(:first-of-type) {
  margin-top: 25px;
}

.place__paragraph:last-of-type {
  margin-bottom: 95px;
}

.place__paragraph:nth-child(3) {
  margin-bottom: 73px;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    font-size: 15px;
  }

  .place__paragraph:not(:first-of-type) {
    margin-top: 20px;
  }

  .place__paragraph:last-of-type {
    margin-bottom: 85px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 12px;
  }

  .place__paragraph:not(:first-of-type) {
    margin-top: 15px;
  }

  .place__paragraph:last-of-type {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 840px) {
  .place__paragraph:last-of-type {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 15px;
  }
}
