.lead__image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding-right: 100px;
}

@media screen and (max-width: 1400px) {
  .lead__image {
    padding-right: 7%;
  }
}

  @media screen and (max-width: 1280px) {
    .lead__image {
      padding-right: 0;
    }
  }


@media screen and (max-width: 900px) {
  .lead__image {
    width: 320px;
    height: 320px;
  }
}
