.header__burger {
    display: none;
    width: 30px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .header__burger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #000;
    transition: 0.3s;
  }
  
  @media (max-width: 768px) {
    .header__burger {
      display: flex;
    }
  
    .header__burger.active span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
  
    .header__burger.active span:nth-child(2) {
      opacity: 0;
    }
  
    .header__burger.active span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }