.header__list {
  display: flex;
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .header__list {
    position: absolute;
    top: 10px;
    left: 100px;
    flex-direction: column;
    background: #fff;
    width: 200px;
    padding: 20px;
    gap: 15px;
    border: 1px solid #ddd;
    display: none;
  }
  .header__list.active {
    display: flex;
  }
}
