.popup__title {
  margin: 34px auto 48px auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  max-width: 90%;
}

@media screen and (max-width: 900px) {
  .popup__title {
    width: 238px;
    font-size: 20px;
    line-height: 22px;
    margin: 20px auto;
  }
}

