.text-hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.text-hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.text-hover:focus::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.text-hover::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: hsl(229, 50%, 69%);

    z-index: -1;
    transition: transform 0.3s ease;
}

.text-hover {
    position: relative;
    z-index: 1;
}
